**<center><font size="25"> CSSE COVID-19 Dashboard Recreation </font></center>**

**<center> By: Michael Dunphy </center>**
**<center> August 2020 </center>**

<figure>
<img src="https://pbs.twimg.com/media/Eg3480zX0AULtIQ?format=jpg&name=large" width="800" style ="float:center;">
</figure>

## Introduction

A recreation of the COVID-19 Dashboard by the Center of Systems Science and Engineering (CSSE) at Johns Hopkins University (JHU) done by Michael Dunphy (he/him/his).

The recreated dashboard can be found here: https://public.tableau.com/profile/michael.dunphy8764#!/vizhome/CSSECOVID-19DashboardRecreation/GlobalDashboard

The real dashboard can be found here: https://coronavirus.jhu.edu/map.html

Data is from the CSSE COVID-19 github reposity here: https://github.com/CSSEGISandData/COVID-19 

Below is the code used to collect and modify the data to produce the Tableau visual.

## Code

The program makes use of several libraries including:
* [Pandas](https://pandas.pydata.org/docs/)
* [Datetime](https://docs.python.org/3/library/datetime.html)
* [Pytz](https://pypi.org/project/pytz/)

In [1]:
import pandas as pd
from datetime import datetime, timedelta, time
from pytz import timezone

In [2]:
# To get yesterday's date for the most recent daily reports released. New reports released at 12 midnight EST.
tz = timezone('EST')
today = datetime.date(datetime.now(tz))
today_formated = today.strftime('%m-%d-%Y')

yesterday = today - timedelta(days=1)
yesterday_formated = yesterday.strftime('%m-%d-%Y')

print('Today is:', today_formated)
print('Yesterday is:', yesterday_formated)

Today is: 09-01-2020
Yesterday is: 08-31-2020

In [3]:
# Timeline of cases by county in the US. In Tableau, use the pivot feature to combine dates and 
# number of cases into single dates and cases columns.
us_cases_data = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv")
us_cases_data.to_csv('us_cases_data.csv', index = False)
us_cases_data.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,8/22/20,8/23/20,8/24/20,8/25/20,8/26/20,8/27/20,8/28/20,8/29/20,8/30/20,8/31/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1264,1266,1286,1286,1281,1284,1296,1309,1345,1348
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,4037,4069,4083,4100,4166,4199,4230,4307,4402,4422
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,626,629,633,628,616,614,620,624,628,628
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,503,510,510,511,513,515,517,523,533,535
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,931,934,946,967,968,979,983,1004,1025,1034

In [4]:
# Timeline of cases by country. In Tableau, use the pivot feature to combine dates and 
# number of cases into single dates and cases columns.

# Used in Confirmed, Logarithmic, Daily Cases sheets
global_cases_data = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")
global_cases_data.to_csv('global_cases_data.csv', index = False)
global_cases_data.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/22/20,8/23/20,8/24/20,8/25/20,8/26/20,8/27/20,8/28/20,8/29/20,8/30/20,8/31/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,37953,37999,38054,38070,38113,38129,38140,38143,38162,38165
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,8275,8427,8605,8759,8927,9083,9195,9279,9380,9513
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,41068,41460,41858,42228,42619,43016,43403,43781,44146,44494
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,1045,1045,1060,1060,1098,1098,1124,1124,1124,1176
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,2134,2171,2222,2283,2332,2415,2471,2551,2624,2654

In [5]:
# Timeline of deaths by county in the US. In Tableau, use the pivot feature to combine dates and 
# number of cases into single dates and cases columns.
us_death_data = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv")
us_death_data.to_csv('us_death_data.csv', index = False)
us_death_data.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,8/22/20,8/23/20,8/24/20,8/25/20,8/26/20,8/27/20,8/28/20,8/29/20,8/30/20,8/31/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,22,22,22,22,22,22,22,22,22,22
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,32,32,32,32,33,34,35,36,36,38
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,7,7,7,7,7,7,7,7,7,7
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,6,6,6,6,5,5,5,6,6,7
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,6,6,6,6,7,7,9,9,10,11

In [6]:
# Timeline of deaths by country. In Tableau, use the pivot feature to combine dates and 
# number of cases into single dates and cases columns.
global_death_data = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv")
global_death_data.to_csv('global_death_data.csv', index = False)
global_death_data.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/22/20,8/23/20,8/24/20,8/25/20,8/26/20,8/27/20,8/28/20,8/29/20,8/30/20,8/31/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1385,1387,1389,1397,1401,1401,1402,1402,1402,1402
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,245,250,254,259,263,266,271,275,280,284
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,1424,1435,1446,1456,1465,1475,1483,1491,1501,1510
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,53,53,53,53,53,53,53,53,53,53
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,94,96,100,102,103,105,106,107,107,108

In [7]:
# Daily Global Report

# Used in Cumulative Confirmed Cases, Total Confirmed, Countries/Regions, Last Updated, 
# Confirmed Cases by Country/Region/Sovereignty, Confirmed Cases by Province/State/Dependency, 
# Confirmed Cases by US County, Global Titles, Global Deaths, Global Recovered sheets
daily_report_data = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/"
                                + yesterday_formated + ".csv")
daily_report_data.to_csv('daily_report.csv', index = False)
daily_report_data.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-09-01 04:28:31,33.93911,67.709953,38165,1402,29089,7674.0,Afghanistan,98.039112,3.673523
1,NaN,NaN,NaN,Albania,2020-09-01 04:28:31,41.15330,20.168300,9513,284,5214,4015.0,Albania,330.565015,2.985388
2,NaN,NaN,NaN,Algeria,2020-09-01 04:28:31,28.03390,1.659600,44494,1510,31244,11740.0,Algeria,101.466230,3.393716
3,NaN,NaN,NaN,Andorra,2020-09-01 04:28:31,42.50630,1.521800,1176,53,908,215.0,Andorra,1522.034556,4.506803
4,NaN,NaN,NaN,Angola,2020-09-01 04:28:31,-11.20270,17.873900,2654,108,1071,1475.0,Angola,8.075149,4.069329

In [8]:
# Daily US Report

# Used in Testing Rate, Hospitalization Rate, US Deaths/Recovered, US Test Results, US Hospitalization sheets
us_daily_report_data = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports_us/"
                                   + yesterday_formated + ".csv")
us_daily_report_data.to_csv('us_daily_report.csv', index = False)
us_daily_report_data.head()

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,Alabama,US,2020-09-01 04:30:22,32.3182,-86.9023,126058,2182,48028.0,75848.0,1.0,2570.941133,985287.0,NaN,1.730949,84000001,USA,20094.836316,NaN
1,Alaska,US,2020-09-01 04:30:22,61.3707,-152.4044,5263,37,2238.0,2988.0,2.0,719.436262,348630.0,NaN,0.703021,84000002,USA,47656.671838,NaN
2,American Samoa,US,2020-09-01 04:30:22,-14.2710,-170.1320,0,0,NaN,0.0,60.0,0.000000,1514.0,NaN,NaN,16,ASM,2721.015079,NaN
3,Arizona,US,2020-09-01 04:30:22,33.7298,-111.4312,201835,5029,30682.0,166124.0,4.0,2772.947485,1204429.0,NaN,2.491639,84000004,USA,16547.270625,NaN
4,Arkansas,US,2020-09-01 04:30:22,34.9697,-92.3731,61224,797,54961.0,5466.0,5.0,2028.759986,727035.0,NaN,1.301777,84000005,USA,24091.524831,NaN

In [9]:
# Modified Daily Report that combines county level data to state level in US. 

# Used in Active Cases, Incident Rate, and Case-Fatality Ratio sheets
daily_report_modified = daily_report_data[daily_report_data.Country_Region != 'US']
us_daily_report_data.rename(columns={'Incident_Rate': 'Incidence_Rate', 
                                     'Mortality_Rate': 'Case-Fatality_Ratio'}, inplace=True)
daily_report_combined = daily_report_modified.append(us_daily_report_data, ignore_index=False, sort=False)
daily_report_combined.to_csv('daily_report_modified.csv', index = False)
daily_report_combined.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio,People_Tested,People_Hospitalized,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,NaN,NaN,NaN,Afghanistan,2020-09-01 04:28:31,33.93911,67.709953,38165,1402,29089.0,7674.0,Afghanistan,98.039112,3.673523,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Albania,2020-09-01 04:28:31,41.15330,20.168300,9513,284,5214.0,4015.0,Albania,330.565015,2.985388,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,Algeria,2020-09-01 04:28:31,28.03390,1.659600,44494,1510,31244.0,11740.0,Algeria,101.466230,3.393716,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Andorra,2020-09-01 04:28:31,42.50630,1.521800,1176,53,908.0,215.0,Andorra,1522.034556,4.506803,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Angola,2020-09-01 04:28:31,-11.20270,17.873900,2654,108,1071.0,1475.0,Angola,8.075149,4.069329,NaN,NaN,NaN,NaN,NaN,NaN


Dashboard Recreated by: Michael Dunphy (he/him/his)

[Twitter](https://twitter.com/mtdunphy)
[Github](https://github.com/mtdunphy-umd)
[Tableau](https://public.tableau.com/profile/michael.dunphy8764)